/*
::-webkit-scrollbar {
    width: 0;
}
*/
body {
    font-family: 'Comfortaa', sans-serif;
    background: #1f2021 url(../img/fon_phone.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.line {
    border-bottom: 2px solid #bbc4d8;
    margin: 10px 0px;
    box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.3);
}

/*==================Head==================*/
.header {
    position: fixed;
    padding: 0 15px;
    height: 110px;
    width: 100%;
    z-index: 99;
    overflow: hidden;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.header-shrink.header {
    height: 35px;
    background: rgba(235, 235, 235, 0.92);
    box-shadow: 0px 1px 13px 0px rgba(255, 255, 255, 0.82);
}

.header_inner {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 50%;
}

.header-shrink .logo {
    padding-top: 0px;
}

.logo_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
}

.header-shrink .logo_inner {
    height: 35px;
}

.logo_inner h1 {
    display: none;
}

.header-shrink .logo_inner h1 {
    line-height: 28px;
    display: block;
    font-size: 1.5vw;
    color: #000;
}

.logo768 {
    display: none;
}

.logo_inner img {
    height: 80%;
}

.header-shrink .logo_inner img {
    display: none;
}

.header_nav {
    width: 50%;
}

.header_nav_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.header-shrink .header_nav_inner {
    height: 35px;
    padding-top: 0px;
}

.header_nav_inner h1 {
    display: none;
}

.nav_link {
    font-size: 1.8vw;
    color: #fff;
    font-weight: 700;
    margin-left: 60px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.nav_link:first-child {
    margin-left: 0;
}

.header-shrink .nav_link {
    font-size: 1.3vw;
    color: #000;
}

.burger {
    display: none;
    width: 35px;
    height: 3px;
    background: #ffffff;
    font-size: 0;
    color: transparent;
    position: relative;
}

/*==================Phone==================*/
.phone {
    padding-top: 110px;
    height: 830px;
}

.phone h2 {
    font-size: 43px;
    line-height: 80px;
    font-weight: 700;
    color: #f7f6f2;
}

.phone h3 {
    font-size: 40px;
    line-height: 80px;
    font-weight: 700;
    color: #ebe5e5;
}

.phone .container {
    display: flex;
    justify-content: center;
}

.phone_inner {
    overflow: hidden;
    display: flex;
    width: 1170px;
    height: 690px;
    background: rgba(255, 255, 255, 0.2);
    /* backdrop-filter: blur(5px); */
    border-radius: 15px;
    border: 1px solid rgb(108, 108, 108);
    box-shadow: 1px 1px 4px 0px rgba(255, 255, 255, 0.9);
}

.left_p {
    flex-wrap: wrap;
    padding: 160px 0px 0px 50px;
    width: 60%;
}

.left_p h3 {
    text-align: right;
}

.right_p {
    margin-left: 5px;
    padding-top: 60px;
    width: 40%;
}

.right_phone {
    display: flex;
    justify-content: center;
    position: relative;
}

.right_phone img {
    width: 90%;
    height: auto;
}

.phone_1 {
    position: absolute;
    display: block;
    max-width: 100%;
    height: auto;
}

.phone_2 {
    position: absolute;
    display: block;
    max-width: 100%;
    height: auto;
    opacity: 0;
    animation: slideanim 8s infinite;
}

.phone_2:nth-child(1),
.phone_2:nth-child(1) img {
    animation-delay: 0;
}

.phone_2:nth-child(2),
.phone_2:nth-child(2) img {
    animation-delay: 2s;
}

.phone_2:nth-child(3),
.phone_2:nth-child(3) img {
    animation-delay: 4s;
}

.phone_2:nth-child(4),
.phone_2:nth-child(4) img {
    animation-delay: 6s;
}

@keyframes slideanim {
    12.5% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    37.5% {
        opacity: 0;
    }
}

.phone_3 {
    position: absolute;
    display: block;
    max-width: 100%;
    height: auto;
}

.phone_4 {
    position: absolute;
    z-index: 1;
    display: block;
    max-width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s linear;
}

.phone_4:hover {
    opacity: 1;
}

/*==================Comp==================*/
.w1440 {
    display: none;
}

.comp {
    background: url(../img/comp_fon.png) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    padding: 0 15px;
    height: 680px;
}

.comp h2 {
    font-size: 40px;
    line-height: 90px;
    font-weight: 700;
    color: #f7f6f2;
}

.comp li {
    padding-left: 3vw;
    list-style: circle;
    font-size: 35px;
    line-height: 80px;
    font-weight: 700;
    color: #ebe5e5;
}

.comp_inner_top {
    display: flex;
    align-items: center;
    height: 750px;
}

.laptop {
    display: flex;
    align-items: center;
    justify-content: center;
}

.laptop img {
    max-width: 900px;
    width: 45%;
    height: auto;
}

.comp_1 {
    position: absolute;
    z-index: 1;
}

.comp_2 {
    position: absolute;
    z-index: 2;
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.comp_2:hover {
    opacity: 1;
}

.comp_425 {
    display: none;
}

.left_c {
    width: 50%;
}

.right_c {
    flex-wrap: wrap;
    margin-left: 10px;
    padding: 0px 30px;
    width: 50%;
    overflow: hidden;
}

.animation_fon {
    opacity: 0;
    -webkit-transition: all 0.9s linear;
    -moz-transition: all 0.9s linear;
    transition: all 0.9s linear;
    height: 0px;
}

.animation_fon.element-show {
    opacity: 1;
    height: 450px;
}

.comp_inner_bottom {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: #1f2021 url(../img/fon_phone.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.comp_inner_bottom_inner {
    width: 1700px;
    padding: 50px 40px;
    background: rgba(255, 255, 255, 0.2);
    /* backdrop-filter: blur(5px); */
    border-radius: 15px;
    border: 1px solid rgb(108, 108, 108);
    box-shadow: 1px 1px 4px 0px rgba(255, 255, 255, 0.9);
}

.comp_inner_bottom_inner h1 {
    font-size: 40px;
    line-height: 80px;
    font-weight: 700;
    color: #ebe5e5;
}

.comp_inner_bottom_inner .line {
    display: inline-block;
    width: 50%;
}

/*==================Prom==================*/
.prom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #1f2021 url(../img/fon.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 60vw;
    opacity: .8;
    text-align: center;
    padding: 0 5%;
}

.prom_inner {
    display: flex;
    justify-content: center;
    margin-bottom: 8vw;
}

.s {
    background: #fff;
    width: 28vw;
    height: 28vw;
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%, 100% 75%, 25% 75%, 25% 25%, 100% 25%);
}

.k {
    background: #fff;
    width: 28vw;
    height: 28vw;
    clip-path: polygon(0 0, 0 100%, 25% 100%, 25% 64%, 45% 53%, 78% 100%, 99% 100%, 65% 43%, 100% 24%, 100% 0, 25% 38%, 25% 0);
    margin: 0 50px;
}

.p {
    background: #fff;
    width: 28vw;
    height: 28vw;
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%, 75% 100%, 75% 25%, 25% 25%, 25% 100%);
}

.prom h1 {
    color: #fff;
    font-weight: 700;
    font-size: 15vw;
    font-family: 'Teko', sans-serif;
    letter-spacing: 5vw;
}

/*==================Map==================*/
.locate {
    background: #f8f9fa;
    height: 750px;
}

.locate_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
}

.locate_timing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 670px;
}

.locate_timing h4 {
    color: #27262c;
    font-size: 2vw;
    line-height: 3vw;
}

.timing_inner {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.timing_inner_768 {
    display: none;
    justify-content: center;
    margin-bottom: 15px;
}

.day {
    margin-right: 20px;
    text-align: center;
}

.dash {
    margin-right: 20px;
    text-align: center;
}

.time h5 {
    color: #ff0000;
    font-size: 1.6vw;
    line-height: 3vw;
    text-align: center;
}

.adress {
    text-align: center;
}

.adress h5 {
    text-align: center;
    color: #27262c;
    font-size: 1.5vw;
    line-height: 3vw;
}

.locate_map {
    width: 50%;
    height: 670px;
}

.locate_map_inner {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.map_1980 {
    position: absolute;
    width: 797px;
    height: 671px;
    max-width: 100%;
}

.map_768 {
    display: none;
}

.locate_map_inner iframe {
    padding: 40px 0px 80px 128px;
    position: absolute;
    width: 797px;
    height: 671px;
    max-width: 100%;
}

/*==================Footer==================*/
.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 150px;
    background: #676767;
}

.footer h1 {
    font-size: 42px;
    font-weight: 700;
    color: #f7f6f2;
    margin-bottom: 20px;
}

.footer h2 {
    font-size: 20px;
    color: #f7f6f2;
}

.footer_inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_logo {
    width: 20%;
    text-align: center;
    padding: 0px 15px;
}

.footer_logo img {
    width: 100%;
    height: auto;
}

.footer_title {
    width: 60%;
    text-align: center;
}

.social {
    display: flex;
    width: 20%;
    padding: 0px 45px;
    justify-content: space-between;
}

.social img {
    height: 50px;
    width: auto;
}

.vk {
    display: flex;
}

.vk_01 {
    border: .2vw solid #000;
    border-radius: .8vw;
}

.vk_02 {
    border: .2vw solid #8e8e8e;
    border-radius: .8vw;
    position: absolute;
    opacity: 0;
    transition: all .3s linear;
}

.vk_02:hover {
    opacity: 1;
}

.tel {
    display: flex;
}

.tel_01 {
    border: .2vw solid #000;
    border-radius: .8vw;
}

.tel_02 {
    border: .2vw solid #8e8e8e;
    border-radius: .8vw;
    position: absolute;
    opacity: 0;
    transition: all .3s linear;
}

.tel_02:hover {
    opacity: 1;
}

.mail {
    display: flex;
}

.mail_01 {
    border: .2vw solid #000;
    border-radius: .8vw;
}

.mail_02 {
    border: .2vw solid #8e8e8e;
    border-radius: .8vw;
    position: absolute;
    opacity: 0;
    transition: all .3s linear;
}

.mail_02:hover {
    opacity: 1;
}

@media screen and (max-width: 1880px) {

    /*==================Comp==================*/
    .comp h2 {
        font-size: 35px;
    }

    .comp li {
        font-size: 32px;
    }

    .comp_inner_bottom_inner {
        width: 1500px;
    }

    .comp_inner_bottom_inner h1 {
        font-size: 35px;
    }
}

@media screen and (max-width: 1667px) {

    /*==================Comp==================*/
    .comp h2 {
        font-size: 33px;
    }

    .comp li {
        font-size: 30px;
    }

    .comp_inner_bottom_inner {
        width: 1300px;
    }
}

@media screen and (max-width: 1600px) {

    /*==================Map==================*/
    .locate_timing {
        width: 40%;
    }

    .locate_map {
        width: 60%;
    }

    .adress h5 {
        font-size: 1.7vw;
    }
}

@media screen and (max-width: 1579px) {

    /*==================Comp==================*/
    .comp h2 {
        font-size: 29px;
    }

    .comp li {
        font-size: 27px;
    }
}

@media screen and (max-width: 1441px) {

    /*==================Head==================*/
    .logo_inner img {
        height: 70%;
    }

    /*==================Phone==================*/
    .phone {
        height: 880px;
    }

    /*==================Comp==================*/
    .w1980 {
        display: none;
    }

    .w1440 {
        display: block;
        text-align: center;
    }

    .comp {
        height: 525px;
    }

    .comp_inner_top {
        height: 415px;
    }

    .comp_inner_bottom_inner {
        width: 1100px;
    }

    .comp_inner_bottom_inner h1 {
        font-size: 29px;
    }
}

@media screen and (max-width: 1366px) {

    /*==================Phone==================*/
    .phone {
        height: 730px;
    }

    .phone h2 {
        font-size: 40px;
        line-height: 75px;
    }

    .phone h3 {
        font-size: 37px;
        line-height: 75px;
    }

    .phone_inner {
        width: 1100px;
        height: 590px;
    }

    .left_p {
        padding: 110px 0px 0px 60px;
    }

    .right_p {
        padding-top: 55px;
    }

    .right_phone img {
        width: 80%;
    }

    /*==================Map==================*/
    .locate {
        height: 650px;
    }

    .locate_inner {
        height: 650px;
    }

    .locate_timing {
        height: 620px;
    }

    .locate_map {
        height: 620px;
    }

    .map_1980 {
        width: 747px;
        height: 621px;
    }

    .locate_map_inner iframe {
        padding: 35px 0px 65px 120px;
        width: 747px;
        height: 621px;
    }

    /*==================Footer==================*/
    .footer h1 {
        font-size: 40px;
        margin-bottom: 18px;
    }

    .footer h2 {
        font-size: 18px;
    }

    .social {
        padding: 0px 25px;
    }
}

@media screen and (max-width: 1230px) {

    /*==================Phone==================*/
    .phone {
        height: 630px;
    }

    .phone h2 {
        font-size: 33px;
        line-height: 65px;
    }

    .phone h3 {
        font-size: 30px;
        line-height: 65px;
    }

    .phone_inner {
        width: 900px;
        height: 500px;
    }

    .left_p {
        padding: 100px 0px 0px 40px;
    }

    /*==================Comp==================*/
    .comp {
        height: 515px;
    }

    .comp h2 {
        font-size: 26px;
        line-height: 80px;
    }

    .comp li {
        font-size: 25px;
        line-height: 80px;
    }

    .right_c {
        padding: 0px 10px 0px 20px;
    }

    .animation_fon.element-show {
        height: 300px;
    }

    .comp_inner_bottom_inner {
        width: 950px;
        padding: 20px 40px;
    }

    .comp_inner_bottom_inner h1 {
        font-size: 26px;
        line-height: 60px;
    }

    /*==================Map==================*/
    .locate {
        height: 570px;
    }

    .locate_inner {
        height: 570px;
    }

    .locate_timing {
        height: 550px;
    }

    .locate_map {
        height: 550px;
    }

    .map_1980 {
        width: 667px;
        height: 551px;
    }

    .locate_map_inner iframe {
        padding: 32px 0px 65px 112px;
        width: 667px;
        height: 551px;
    }

    /*==================Footer==================*/
    .footer h1 {
        font-size: 36px;
        margin-bottom: 16px;
    }

    .footer h2 {
        font-size: 16px;
    }
}

@media screen and (max-width: 1130px) {

    /*==================Comp==================*/
    .comp {
        height: 510px;
    }

    .comp h2 {
        font-size: 25px;
        line-height: 75px;
    }

    .comp li {
        font-size: 24px;
        line-height: 75px;
    }

    /*==================Footer==================*/
    .footer {
        height: 100px;
    }

    .footer h1 {
        font-size: 32px;
        margin-bottom: 12px;
    }

    .footer h2 {
        font-size: 12px;
    }

    .social img {
        height: 40px;
    }
}

@media screen and (max-width: 1024px) {

    /*==================Head==================*/
    .logo_inner img {
        height: 60%;
    }

    /*==================Phone==================*/
    .phone {
        padding-top: 95px;
        height: 460px;
    }

    .phone h2 {
        font-size: 27px;
        line-height: 50px;
    }

    .phone h3 {
        font-size: 25px;
        line-height: 50px;
    }

    .phone_inner {
        width: 750px;
        height: 350px;
    }

    .left_p {
        padding: 65px 0px 0px 40px;
    }

    .right_p {
        padding-top: 25px;
    }

    .right_phone img {
        width: 75%;
    }

    /*==================Comp==================*/
    .comp {
        height: 400px;
    }

    .comp_inner_top {
        height: 320px;
    }

    .comp h2 {
        font-size: 22px;
        line-height: 60px;
    }

    .comp li {
        font-size: 20px;
        line-height: 60px;
    }

    .animation_fon.element-show {
        height: 250px;
    }

    .comp_inner_bottom_inner {
        width: 850px;
        padding: 20px 5px;
    }

    .comp_inner_bottom_inner h1 {
        font-size: 22px;
        line-height: 50px;
    }

    /*==================Map==================*/
    .locate {
        height: 688px;
    }

    .locate_inner {
        flex-wrap: wrap;
        height: 688px;
        padding-top: 10px;
    }

    .locate_timing {
        order: 2;
        width: 100%;
        height: 260px;
    }

    .locate_timing h4 {
        font-size: 3vw;
    }

    .locate_timing h5 {
        font-size: 2.5vw;
    }

    .adress h5 {
        line-height: 3vw;
    }

    .locate_map {
        order: 1;
        width: 100%;
        height: 463px;
    }

    .locate_map_inner {
        justify-content: center;
    }

    .locate_timing {
        height: 215px;
    }

    .map_1980 {
        display: none;
    }

    .map_768 {
        display: block;
        position: absolute;
        width: 750px;
        height: 457px;
        max-width: 100%;
    }

    .locate_map_inner iframe {
        width: 750px;
        height: 457px;
        max-width: 100%;
        padding: 15px 80px 60px 80px;
    }

    .timing_inner {
        display: none;
    }

    .timing_inner_768 {
        display: flex;
    }

    /*==================Footer==================*/
    .footer {
        height: 70px;
    }

    .footer h1 {
        font-size: 20px;
        margin-bottom: 6px;
    }

    .footer h2 {
        font-size: 8px;
    }

    .footer_logo img {
        width: 110%;
    }

    .social {
        padding: 0px 10px;
    }

    .social img {
        height: 35px;
    }
}

@media screen and (max-width: 910px) {

    /*==================Comp==================*/
    .animation_fon.element-show {
        height: 215px;
    }

    .comp h2 {
        font-size: 18px;
        line-height: 60px;
    }

    .comp li {
        font-size: 17px;
        line-height: 60px;
    }

    .comp_inner_bottom_inner {
        width: 670px;
    }

    .comp_inner_bottom_inner h1 {
        font-size: 20px;
        line-height: 40px;
    }
}

@media screen and (max-width: 768px) {

    /*==================Head==================*/
    .header {
        height: 70px;
    }

    .header-shrink .logo {
        width: 40%;
    }

    .logo_inner {
        height: 70px;
    }

    .logo_inner img {
        height: 80%;
    }

    .header-shrink .logo_inner h1 {
        display: none;
    }

    .header-shrink .logo_inner .logo768 {
        display: block;
        height: 50%;
    }

    .header-shrink .header_nav {
        width: 60%;
    }

    .header_nav_inner {
        flex-direction: column;
        height: 70px;
    }

    .header-shrink .header_nav_inner {
        flex-direction: row;
    }

    .nav_link {
        margin: 10px 0px 0px;
        font-size: 2.5vw;
    }

    .nav_link:first-child {
        margin: 0;
    }

    .header-shrink .nav_link {
        margin: 0px 0px 0px 30px;
        font-size: 2vw;
    }

    .header-shrink .nav_link:first-child {
        margin: 0;
    }

    /*==================Phone==================*/
    .phone {
        padding-top: 70px;
        height: 390px;
    }

    .phone h2 {
        font-size: 20px;
        line-height: 40px;
    }

    .phone h3 {
        font-size: 18px;
        line-height: 40px;
    }

    .phone_inner {
        width: 550px;
        height: 300px;
    }

    .left_p {
        padding: 50px 0px 0px 20px;
    }

    .right_p {
        padding-top: 12px;
    }

    .right_phone img {
        width: 90%;
    }

    /*==================Comp==================*/
    .comp {
        height: 338px;
    }

    .comp_inner_top {
        height: 270px;
    }

    .comp h2 {
        line-height: 50px;
    }

    .comp li {
        line-height: 50px;
    }

    .laptop img {
        width: 42%;
    }

    .left_c {
        width: 45%;
    }

    .right_c {
        width: 55%;
    }

    /*==================Map==================*/
    .locate {
        height: 623px;
    }

    .locate_inner {
        height: 623px;
    }

    .locate_map {
        height: 413px;
    }

    .locate_timing {
        height: 200px;
    }

    .map_768 {
        width: 700px;
        height: 407px;
    }

    .locate_map_inner iframe {
        width: 700px;
        height: 407px;
        padding: 15px 75px 55px;
    }

    /*==================Footer==================*/

    .footer_logo img {
        width: 120%;
    }
}

@media screen and (max-width: 700px) {

    /*==================Comp==================*/
    .comp h2 {
        font-size: 17px;
    }

    .comp li {
        font-size: 16px;
    }

    .animation_fon.element-show {
        height: 180px;
    }

    .comp_inner_bottom_inner {
        width: 565px;
    }

    .comp_inner_bottom_inner h1 {
        font-size: 17px;
        line-height: 30px;
    }

    /*==================Map==================*/
    .locate {
        height: 503px;
    }

    .locate_inner {
        height: 503px;
    }

    .locate_timing {
        height: 130px;
    }

    .locate_map {
        height: 363px;
    }

    .map_768 {
        width: 570px;
        height: 350px;
    }

    .locate_map_inner iframe {
        width: 570px;
        height: 350px;
        padding: 15px 60px 50px;
    }
}

@media screen and (max-width: 666px) {

    /*==================Comp==================*/
    .comp h2 {
        font-size: 15px;
    }

    .comp li {
        font-size: 14px;
    }

    /*==================Footer==================*/
    .footer {
        height: 70px;
    }

    .footer h1 {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .social {
        padding: 0px 5px;
    }

    .social img {
        height: 30px;
    }
}

@media screen and (max-width: 600px) {

    /*==================Phone==================*/
    .phone {
        height: 335px;
    }

    .phone h2 {
        font-size: 16px;
        line-height: 32px;
    }

    .phone h3 {
        font-size: 15px;
        line-height: 32px;
    }

    .phone_inner {
        width: 450px;
        height: 250px;
    }

    .left_p {
        padding: 45px 0px 0px 20px;
    }

    .right_phone img {
        width: 90%;
    }

    /*==================Comp==================*/
    .comp {
        height: 290px;
    }

    .comp_inner_top {
        height: 235px;
    }

    .comp h2 {
        font-size: 14px;
        line-height: 40px;
    }

    .comp li {
        font-size: 13px;
        line-height: 40px;
    }

    .animation_fon.element-show {
        height: 165px;
    }

    .comp_inner_bottom_inner {
        width: 475px;
    }

    .comp_inner_bottom_inner h1 {
        font-size: 14px;
        line-height: 25px;
    }

    /*==================Map==================*/
    .locate {
        height: 445px;
    }

    .locate_inner {
        height: 435px;
    }

    .locate_timing {
        height: 130px;
    }

    .locate_map {
        height: 305px;
    }

    .map_768 {
        width: 520px;
        height: 300px;
    }

    .locate_map_inner iframe {
        width: 520px;
        height: 300px;
        padding: 15px 60px 50px;
    }
}

@media screen and (max-width: 562px) {

    /*==================Comp==================*/
    .comp h2 {
        font-size: 13px;
    }

    .comp li {
        font-size: 12px;
    }

    /*==================Footer==================*/

    .footer h1 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .footer h2 {
        font-size: 8px;
    }

    .social {
        padding: 0px 5px;
    }

    .social img {
        height: 30px;
    }
}

@media screen and (max-width: 530px) {

    /*==================Comp==================*/
    .comp {
        height: 230px;
    }

    .comp_inner_top {
        height: 185px;
    }

    .comp h2 {
        font-size: 12px;
        line-height: 30px;
    }

    .comp li {
        font-size: 11px;
        line-height: 30px;
    }

    .animation_fon.element-show {
        height: 125px;
    }

    .comp_inner_bottom_inner {
        width: 410px;
        padding: 10px 5px;
    }

    .comp_inner_bottom_inner h1 {
        font-size: 12px;
        line-height: 20px;
    }

    /*==================Map==================*/
    .locate {
        height: 385px;
    }

    .locate_inner {
        height: 385px;
    }

    .locate_timing {
        height: 100px;
    }

    .locate_map {
        height: 275px;
    }

    .map_768 {
        width: 470px;
        height: 270px;
    }

    .locate_map_inner iframe {
        width: 470px;
        height: 270px;
        padding: 10px 50px 40px;
    }

    /*==================Footer==================*/
    .footer {
        height: 50px;
    }

    .footer h1 {
        font-size: 12px;
        margin-bottom: 6px;
    }

    .footer h2 {
        font-size: 6px;
    }

    .social {
        padding: 0px 5px;
    }

    .social img {
        height: 20px;
    }
}

@media screen and (max-width: 480px) {

    /*==================Phone==================*/
    .phone {
        height: 280px;
    }

    .phone h2 {
        font-size: 13px;
        line-height: 23px;
    }

    .phone h3 {
        font-size: 12px;
        line-height: 23px;
    }

    .phone_inner {
        width: 350px;
        height: 200px;
    }

    .left_p {
        padding: 40px 0px 0px 10px;
    }

    .right_phone img {
        width: 90%;
    }

    /*==================Map==================*/
    .locate {
        height: 355px;
    }

    .locate_inner {
        height: 355px;
    }

    .locate_timing {
        height: 100px;
    }

    .locate_map {
        height: 245px;
    }

    .map_768 {
        width: 420px;
        height: 240px;
    }

    .locate_map_inner iframe {
        width: 420px;
        height: 240px;
        padding: 10px 45px 35px;
    }
}

@media screen and (max-width: 462px) {

    /*==================Comp==================*/
    .comp h2 {
        font-size: 9px;
    }

    .comp li {
        font-size: 9px;
    }
}

@media screen and (max-width: 425px) {

    /*==================Head==================*/
    .header {
        height: 40px;
        background: #259a83;
    }

    .header_inner {
        margin-bottom: 5px;
    }

    .header-shrink.header {
        height: 25px;
    }

    .logo {
        display: none;
    }

    .header_nav {
        width: 100%;
    }

    .header-shrink .header_nav {
        width: 100%;
    }

    .header_nav_inner h1 {
        display: block;
        font-size: 5vw;
    }

    .header-shrink .header_nav_inner h1 {
        display: none;
    }

    .header_nav_inner {
        flex-direction: row;
        height: 40px;
    }

    .header-shrink .header_nav_inner {
        height: 25px;
    }

    .nav_link {
        display: none;
    }

    .header-shrink .nav_link {
        display: block;
        font-size: 3.5vw;
    }

    /*==================Phone==================*/
    .phone {
        height: 245px;
        padding-top: 45px;
    }

    .phone h2 {
        font-size: 20px;
        line-height: 30px;
    }

    .phone h3 {
        font-size: 19px;
        line-height: 30px;
    }

    .phone_inner {
        width: 350px;
        height: 200px;
    }

    .left_p {
        padding: 25px 10px 0px 10px;
        width: 100%;
    }

    .right_p {
        display: none;
    }

    /*==================Comp==================*/
    .w1980 {
        display: block;
    }

    .w1440 {
        display: none;
    }

    .comp {
        height: 62vw;
        background-size: auto 47%;
    }

    .comp_inner_top {
        display: flex;
        justify-content: center;
        height: 65vw;
        text-align: center;
    }

    .left_c {
        display: none;
    }

    .comp_425 {
        display: block;
    }

    .comp_425 img {
        width: 100%;
    }

    .right_c {
        position: absolute;
        padding: 0px 10px 30px 0px;
        width: 90%;
        height: auto;
    }

    .comp h2 {
        font-size: 3.3vw;
        line-height: 4vw;
    }

    .comp li {
        font-size: 2.7vw;
        line-height: 4vw;
    }

    .right_c .line {
        margin: 10px 50px;
        border-bottom: 1px solid rgba(187, 196, 216, 0.43);
        box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.3);
    }

    .animation_fon.element-show {
        height: 180px;
    }

    .comp_inner_bottom_inner {
        width: 80%;
        padding: 10px 20px;
    }

    .comp_inner_bottom_inner h1 {
        font-size: 2.9vw;
        line-height: 5vw;
    }

    .comp_inner_bottom_inner .line {
        margin: 10px 10px;
    }

    /*==================Prom==================*/
    .prom {
        display: none;
    }

    /*==================Map==================*/
    .locate {
        height: 512px;
    }

    .locate_inner {
        padding-top: 0px;
        height: 512px
    }

    .locate_map {
        height: 362px;
    }

    .locate_timing {
        height: 150px;
    }

    .locate_timing h4 {
        font-size: 5vw;
        line-height: 7vw;
    }

    .locate_timing h5 {
        font-size: 4vw;
        line-height: 7vw;
    }

    .adress h5 {
        font-size: 3.3vw;
        line-height: 3vw;
    }

    .map_768 {
        display: none;
    }

    .locate_map_inner iframe {
        width: 410px;
        height: 360px;
        padding: 0px 0px 0px 0px;
    }

    /*==================footer==================*/
    .footer {
        height: 12vw;
    }

    .footer_logo .nav_link {
        display: block;
    }

    .footer_logo {
        width: 50%;
    }

    .footer_logo img {
        width: 70%;
    }

    .footer_title {
        display: none;
    }

    .social {
        width: 50%;
        padding: 0px 6vw;
    }

    .social img {
        height: 8vw;
    }
}

@media screen and (max-width: 375px) {

    /*==================Phone==================*/
    .phone h2 {
        font-size: 18px;
    }

    .phone h3 {
        font-size: 17px;
    }

    /*==================Comp==================*/
    .comp {
        background-size: auto 60%;
    }

    .animation_fon.element-show {
        height: 160px;
    }

    /*==================Map==================*/
    .locate {
        height: 500px
    }

    .locate_inner {
        height: 500px
    }

    .locate_map {
        height: 360px;
    }

    .locate_timing {
        height: 140px;
    }
}

@media screen and (max-width: 320px) {

    /*==================Phone==================*/
    .phone h2 {
        font-size: 17px;
    }

    .phone h3 {
        font-size: 16px;
    }

    /*==================Map==================*/
    .locate {
        height: 390px
    }

    .locate_inner {
        height: 390px
    }

    .locate_map {
        height: 270px;
    }

    .locate_map_inner iframe {
        height: 270px;
    }

    .locate_timing {
        height: 120px;
    }
}